body {

}

#banner {
    background: url(/Image/banner.jpg) no-repeat center center fixed;
    background-size: cover;
}

.logo {
    margin: auto;
    top: 50%;
}

    .logo > img {
        height: 130px;
        width: 130px;
        position: relative;
        top: 50%;
        margin: auto;
    }

#txtarama {
    background-color: white;
    color: #a40c12;
    border-radius: 5px;
    margin-left: 200px;
}

#txtarama2 {
    background-color: white;
    color: #a40c12;
    border-radius: 5px;
    margin-left: 20px;
}

#btnara {
    background-color: #a40c12;
    color: white;
    border-radius: 5px;
    margin-left: 20px;
}

    #btnara:hover {
        color: #eeb91e
    }

#btnuyeol {
    background-color: white;
    color: #a40c12;
    border-radius: 5px;
}

    #btnuyeol:hover {
        background-color: #eeb91e;
    }

#btngirisyap {
    background-color: white;
    color: #a40c12;
    border-radius: 5px;
}

    #btngirisyap:hover {
        background-color: #eeb91e;
    }

#menu a {
    font-family: Arial;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    display: block;
}

    #menu a:hover {
        display: block;
        cursor: pointer;
        color: #a40c12;
    }

#menu img {
    height: 40px;
    width: 40px;
    display: block;
    top: 50%;
    margin: auto;
}

#footer a {
    font-family: Arial;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    display: block;
    color: white;
}

    #footer a:hover {
        display: block;
        cursor: pointer;
        color: #a40c12;
    }

@media screen and (max-width:992px) {

}
@media screen and (max-width:768px) {

}