
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div id="uyeol" style="margin-top:10%; margin-left:10%; margin-right:10%;background-color:white;">
        <a>ÜYE OL</a>
    </div>

