@model List<proje.Models.MEKAN>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@*İÇERİK VERİTABANINDAN GELECEK*@

<div id="icerik">
    <div id="anabaslik">
        <h2>HAFTANIN ÖNE ÇIKANLARI</h2>
    </div>
    <div id="onecıkan1" style="background-color:white; width:40%;float:left; margin-left:7%;">
        <img src="" />
        <h5>MEKAN ADI</h5>
        <h6>mekan özelliği</h6>
        <div id="detay">
            <a>Detay</a>
        </div>
    </div>
    <div id="onecıkan2" style="background-color:white; width:40%; float:left; margin-left:7%;">
        <img src="" />
        <h5>MEKAN ADI</h5>
        <h6>mekan özelliği</h6>
        <div id="detay">
            <a>Detay</a>
        </div>
    </div>

    <div id="onecıkan3" style="background-color:white; width:40%;float:left; margin-left:7%; margin-top:5%;">
        <img src="" />
        <h5>MEKAN ADI</h5>
        <h6>mekan özelliği</h6>
        <div id="detay">
            <a>Detay</a>
        </div>
    </div>
    <div id="onecıkan4" style="background-color:white; width:40%; float:left; margin-left:7%; margin-top:5%;">
        <img src="" />
        <h5>MEKAN ADI</h5>
        <h6>mekan özelliği</h6>
        <div id="detay">
            <a>Detay</a>
        </div>
    </div>
</div>

