@model proje.Models.KATEGORI

@{
    ViewBag.Title = "KayitFormu";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

}

<div id="kayit">

    <form id="frm1" style="margin-left:15px;" method="post" action="~/KategoriListe/KayitFormu">

        <div class="form-group">
            <div class="col-sm-2">@*Kategori Id*@</div>
            <div class="col-sm-10"><input class="form-control" type="hidden" name="KATEGORI_ID" id="KATEGORI_ID" value="@Model.KATEGORI_ID" /></div>
        </div>
        <div class="form-group">
            <div class="col-sm-8">Kategori Adı</div>
            <div class="col-sm-10">
                <input class="form-control" type="text" name="KATEGORI_ADI" id="KATEGORI_ADI" value="@Model.KATEGORI_ADI" />
                @Html.ValidationMessageFor(m => m.KATEGORI_ADI)
            </div>
        </div>

        <div class="text-center">
            <input type="submit" value="Kaydet" class="btn btn-primary" />
            <a href="~/KategoriListe/Index" class="btn btn-danger">Vazgeç</a>
        </div>
    </form>

</div>



